@import url(styles/Navbar.css);
/* @import url(styles/Home.css);
@import url(styles/Blog.css);
@import url(styles/About.css);
@import url(styles/Notes.css); */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
