html, body {
	width: 100%;
	height: 100%;
	overflow: auto;
}

/* sets position of about*/
#about {
	margin: 100px;
}

/* sets relative position of profile - how to clear following elements in #about? i want following elements in #about to flow around the card */
#profile {
	float: right;
	margin-left: 50px;
}

/* supposed clearfix method which i dont understand at all? you can also use display:tables??? clear:both will prevent content after from floating 
in the same level as content before */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* defines read more behaviour */
.post {
	max-height: 120px;
	position: relative;
	overflow: hidden;
	padding: 20px;
}

.post .read-more { 
	position: absolute; 
	bottom: 0; 
	left: 45%;
	background-color: white;
	color: grey;
    border: 2px solid #e7e7e7;
	border-radius: 20px;
	width: 100px;
	text-align: center; 
	margin: 0; padding: 10px 0; 
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.read-more:hover {
	background-color: #E7E7E7;
}

/* container fluid vs container?*/

/* alternative to using <div style="height:100px;></div>" */
/* can also address classes instead of ids */
/* can specify an id multiple times like below */
/* child divs can inherit styles from parent*/

/* hash is an id selector while dot is a class selector */

/* IMPORTANT how to achieve dynamic relative sizing and positioning of parent and child divs? */

/* width of avatar is predetermined, which card and caption depend on. caption height is predetermined and 
the sum of the heights of avatar and caption is the height of the parent card div*/

/* defines card class below */

.card {
	/* width and height dependent on child divs */
 
	/* add shadows to create the "card" effect*/
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
}

/* on mouse-over, add a deeper shadow */
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
	
.avatar {
	position: relative;
	width: 300px;
	padding: 10px;
}
	
/* to position a child element relative to the parent element, the position of parent must not be static and the child absolute*/
.title {
	position: absolute;
	bottom: 0;
	padding: 2px 16px;
	width: 50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
}

/* add some padding inside the card container */
/* margins add space outside the element; padding adds space within element */
.caption {
	/* the dimensions of the caption can be expressed as a fraction of the parent div "card" */
	height: 50px;
	width: 300px;
	overflow: auto;
	padding: 2px 16px;
}
	
.contacts {
	text-align: center;
}
