/* body */
body {
	/* create a slider for night and day mode? */
	/* wish you could define macros for colour schemes in html, maybe can use javascript */
	/* background: aa00ff, 353d75, 142634 */
	/* font: d48872 */
	/* rn im using the twitter colour palette */
	background: #141d26; 
}


/* sets proportions for elements in navbar using flexbox */
/* this doesn't work if you use "nav .navbar" but works if either "nav" or ".navbar" is used */
.navbar {
	/* how to sticky flex bar to top? look into absolute positioning and z index */
	display: flex; 
	flex-direction: row; /* default */
	/* ensure all items fit in one line */
	flex-wrap: nowrap; /* default */
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
}

/* styles the search bar */
form {
	width: 200px;
	box-sizing: border-box;
	display: flex;
	background-color: inherit;
}

#search {
    width: 100%;
	/*defines if width is inclusive of padding and borders or only refers to content*/
    box-sizing: border-box;

    /* border: 2px solid #ccc; */
	border-style: none; /* default */
    border-radius: 4px;
	color: grey;
    font-size: 16px;
	font-family: arial;
	padding: 0.5em; 
	
    background-color: inherit;
	/* can't seem to insert background image into search bar */
    /* background-image: url("searchicon.png"); */
    /* background-position: 10px 10px; */
    /* background-repeat: no-repeat; */
	/* determines smoothness of transition */

	-webkit-transition: background-color 0.4s ease-in-out;/* safari */
    transition: background-color 0.4s ease-in-out;
}

/* search bar turns white when you click on it */
#search:focus {
	background-color: white;
}

/* title */
.banner {
	text-align: center;
	font-family: arial;
	color: white;
}

/* styles text and links (eg. signup and login) */
div, div a {
	font-family: arial;
	font-size: 16px;
	color: grey;
	padding: 0.5em;
	/* removes underline */
	text-decoration: none;

	/* determines smoothness of transition */
	-webkit-transition: color 0.4s ease-in-out;/* safari */	
    transition: color 0.4s ease-in-out;
}	

div a:hover {
	color: orange;
}

/* calender */

/* navigational tiles */
.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
	grid-auto-rows: minmax(100px, auto);
}

/* .tile works as well */
.container > div {
	/* background-color: #142634; /* to be removed */
	/* border-radius: 10px; /* to be removed */
	padding: 1em;
	text-align: center;
	
	/* determines smoothness of transition */
	-webkit-transition: background-color 0.4s ease-in-out;/* safari */	
    transition: background-color 0.4s ease-in-out;
}