.navbar {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    position: sticky;
}

.navbar .logo {
    display: flex;
    margin: 2rem 0;
    height: 4rem;
    justify-content: center;
}

.navbar ul{
    padding: 0;
    list-style: none;
    text-align: center;
}

.navbar li {
    display: inline-flex;
    margin: 0.5em;
    text-transform: uppercase;
}

.btn {
    text-decoration: none;
    padding: 1em 2em;
    color: #24272b;
    border-bottom: solid #99e1d9;
    transition: 0.4s;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 0.3em;

}

.btn:hover, .btn:focus {
    background: #99e1d9;
    color: #24272b;
    padding: 1em 3em;
}

