/* layout of post */
.post-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1em;
    padding: 1em 0 1em 0;
}

/* details styling */
.details {
    color: grey;
    font-size: 0.8em;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.details > .author {
    color: black;
}

.post > .title {
    font-size: 1.5em;
    font-weight: 600;
}

.post > .desc {
    font-weight: 700;
    color: grey;
}


/* defines read more behaviour */
.post {
    display: flex;
    flex-direction: column;
    align-items: center;
	max-height: 10em;
	position: relative;
	overflow: hidden;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.8s;
}

.post > .read-more { 
    /* centralize button */
	position: absolute;
    bottom: 0;
    text-align: center;
	
    font-size: 0.8rem;
    font-weight: 600;
    color: #24272b;
    background: #6187998a;
    
    padding: 1em 2em;
    border: none;
    border-radius: 0.5em;
    margin: 0;
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.read-more:hover {
	background-color: #99e1d9;
}

/* when readmore is clicked */
/* .class1.class2 selects elements with both those classnames
.class1 .class2 selects class2 elements that are children of class1 elements */
.post.extend {
    max-height: 100em;
    overflow: visible;
}
